@keyframes slideInRight {
  from {
    transform: translateX(1000px);
  }
  to {
     transform: translateX(0px) scale(1);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
  }
  to {
     transform: translateX(0px) scale(1);
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(1500px);
  }
  to {
     transform: translateY(0px) scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
     opacity: 1 scale(1);
  }
}

@keyframes colorIn {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%) scale(1);
  }
}

.home-container {
  height: 2000px;
  background-color: #393E46;
}
.content {
  background-color: #393E46;
  margin: auto;
  width: 800px;
}
.card-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
}
.visible {
  visibility: visible !important;
  animation: slideInBottom 1.5s;
}
.invisible {
  opacity: 0.3;
  transition: 1s;
}
.full-opacity {
  opacity: 1;
  transition: 1s;
}

input {
  accent-color: #00ADB5;
}


.card {
  margin: auto;
  width: 350px;
  height: 250px;
  background-color: #222831;
  border-radius: 5px;
  transition: 1s ease-in-out;
  box-shadow: 5px 5px 5px  #222831;
  animation: slideInBottom 1.5s;

}

.signup-container {
  padding-top: 64px;
}
.signup-text {
  text-align: center;
}
.signup-card {
  margin: auto;
  width: 350px;
  height: 800px;
  background-color: #222831;
  border-radius: 5px;
  transition: 1s ease-in-out;
  box-shadow: 5px 5px 5px  #222831;
  visibility: hidden;

}
.roles {
  padding-top: 64px;
  display: flex;
  justify-content: space-evenly;
  animation: slideInLeft 1s;
  z-index: 9999;
}
.role {
  display: block;
  text-align: center;
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: #222831;
  border-radius: 5px;
  transition: 1s ease-in-out;
  box-shadow: 5px 5px 5px  #222831;
}
.role-header {
  text-align: center;
  padding-top: 16px;
  color: #EEEEEE;
}
.role-content {
  padding-top: 105px;
}
.role-button {
  cursor: pointer;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #393E46;
}
.button-container {
  padding-top: 16px;
  text-align: center;
  display: block;
}
.text-container {
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
  color: #EEEEEE;
  text-decoration: underline;
  cursor:pointer;
  opacity: 0.5;
}

.card:hover {
  transition: 1s ease-in-out;
  box-shadow: 2px 2px 2px #EEEEEE;
}
.card-header {
  padding-top: 16px;
  width: 100%;
  color: #00ADB5;
  text-align: center;
  font-size: 16px;
  height: 24px;
}
label {
  color: #00ADB5;
}
.gender-icon {
  width: 16px;
  height: 16px;
}

.title {
  padding-left: 400px;
  display: flex;
  color: #00ADB5;
  padding-top: 60px;
  text-align: center;
  font-size: 36px;
  align-items: center;
  animation: colorIn 1s;
}
.title-white {
  color: #EEEEEE;
}
.title-blue {
  padding-left: 10px;
  color: #00ADB5;
}
.line {
  width: 80%;
  background-color: #EEEEEE;
}
.background-image {
  width: 50%;
  height: auto;
  margin: auto;
}
.form-icon {
  animation: colorIn 1s;
  padding-right: 8px;
  max-width: 56px;
}
.field-container {
  padding: 8px 0px 8px 0px;
  display: block;
  text-align: center;
}
.field-text {
  display: block;
  color: #00ADB5;
}
select {
  border-radius: 5px;
  background-color: #393E46;
  color: #EEEEEE;
}

.field {
  border-width: 1px;
  border-color: #222831;
  color: #EEEEEE;
  border-radius: 5px;
  background-color: #393E46;
  
}
.set {
  padding: 0px 0px 0px 0px;
  margin: auto;
  border-width: 0px;
  margin-right: 16px;
  align-items: center;
}